<!-- ===== FOOTER ===== -->
    <table class="header" style="background: white; width: 100%; border-top: 2px solid rgb(23, 117, 176)">
      <tbody>
        <tr>
          <td class="float-center">
            <table class="container">
              <tbody>
                <tr>
                  <th class="small-3 large-3 columns" style="padding-left: 0; padding-right: 0;">
                    <ul style="padding-left: 0;">
                      <li style="font-size: 11px;">IT-Sitter GmbH Deutschland</li>
                      <li style="font-size: 11px;">Design Offices Highlight Towers</li>
                      <li style="font-size: 11px;">Mies-van-der-Rohe-Str. 8</li>
                      <li style="font-size: 11px;">80807 München</li>
                      <li style="font-size: 11px;">Ust.-Id.Nr.: DE 292 790 015</li>
                    </ul>
                  </th>
                  <th class="small-3 large-3 columns" style="padding-left: 0; padding-right: 0;">
                    <ul style="padding-left: 0;">
                      <li style="font-size: 11px;">Kontakt:</li>
                      <li style="font-size: 11px;">Tel.: +49 89 12414 90-00</li>
                      <li style="font-size: 11px;">Fax: +49 89 12414 90-99</li>
                      <li style="font-size: 11px;">E-Mail: info@itsitter.de</li>
                      <li style="font-size: 11px;">Web: www.itsitter.de</li>
                    </ul>
                  </th>
                  <th class="small-3 large-3 columns" style="padding-left: 0; padding-right: 0;">
                    <ul style="padding-left: 0;">
                      <li style="font-size: 11px;">Geschäftsführer:</li>
                      <li style="font-size: 11px;">Julian Willmes</li>
                      <li style="font-size: 11px;">Registergericht:</li>
                      <li style="font-size: 11px;">Amstgericht München</li>
                      <li style="font-size: 11px;">HRB 220121</li>
                    </ul>
                  </th>
                  <th class="small-3 large-3 columns" style="padding-left: 0; padding-right: 0;">
                    <ul style="padding-left: 0;">
                      <li style="font-size: 11px;">Deutsche Bank AG</li>
                      <li style="font-size: 11px;">Konto: 556 717 700</li>
                      <li style="font-size: 11px;">BLZ: 416 700 24</li>
                      <li style="font-size: 11px;">IBAN: DE27 4167 0024 0556 7177 00</li>
                      <li style="font-size: 11px;">BIC: DEUTDEDB416</li>
                    </ul>
                  </th>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- ===== END FOOTER ===== -->