<!-- ===== HEADER ===== -->
    <table class="header" style="background: white; width: 100%;">
      <tbody>
        <tr>
          <td class="float-center">
            <table class="container">
              <tbody>
                <tr>
                  <th class="small-12 large-12 columns">
                    <a href="http://itsitter.de/"><h1><img src="http://msg.web-server.com/itsitter/general/img/logo/logo.png" alt="itsitter" target="_blank" style="height: 80px; margin-top: 20px;"/></h1></a>
                  </th>
                </tr>
                <tr>
                  <th class="small-12 large-12 columns">
                    <p style="font-size: 12px;">IT-Sitter GmbH - Mies-van-der-Rohe-Str. 8 - 80807 München</p>
                  </th>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- ===== END HEADER ===== -->