<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Title</title>
  <link rel="stylesheet" href="css/foundation-emails.css" />
</head>

<body>
  <!-- <style> -->
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <!-- ===== FOOTER ===== -->
          <table class="header" style="background: white; width: 100%; border-top: 2px solid rgb(23, 117, 176)">
            <tbody>
              <tr>
                <td class="float-center">
                  <table class="container">
                    <tbody>
                      <tr>
                        <th class="small-3 large-3 columns">
                          <ul>
                            <li>IT-Sitter GmbH Deutschland</li>
                            <li>Design Offices Highlight Towers</li>
                            <li>Mies-van-der-Rohe-Str. 8</li>
                            <li>80807 München</li>
                            <li>Ust.-Id.Nr.: DE 292 790 015</li>
                          </ul>
                        </th>
                        <th class="small-3 large-3 columns">
                          <ul>
                            <li><b>Contact :</b></li>
                            <li>Tel.: +49 89 12414 90-00</li>
                            <li>Fax: +49 89 12414 90-99</li>
                            <li>E-Mail: info@itsitter.de</li>
                            <li>Web: www.itsitter.de</li>
                          </ul>
                        </th>
                        <th class="small-3 large-3 columns">
                          <ul>
                            <li><b>Manager :</b></li>
                            <li>Julian Willmes</li><br>
                            <li><b>Register court :</b></li>
                            <li>District Court München</li>
                            <li>HRB 220121</li>
                          </ul>
                        </th>
                        <th class="small-3 large-3 columns">
                          <ul>
                            <li>Deutsche Bank AG</li>
                            <li>Konto: 556 717 700</li>
                            <li>BLZ: 416 700 24</li>
                            <li>IBAN: DE27 4167 0024 0556 7177 00</li>
                            <li>BIC: DEUTDEDB416</li>
                          </ul>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        <!-- ===== END FOOTER ===== -->
      </td>
    </tr>
  </table>
</body>
</html>
