<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Invoice</title>
  <link rel="stylesheet" href="../../css/style.css" />
</head>

<body>
  <!-- <style> -->
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        
    <!-- ===== HEADER ===== -->
    <table class="header" style="background: white; width: 100%;">
      <tbody>
        <tr>
          <td class="float-center">
            <table class="container">
              <tbody>
                <tr>
                  <th class="small-12 large-12 columns">
                    <a href="http://itsitter.de/"><h1><img src="http://msg.web-server.com/itsitter/general/img/logo/logo.png" alt="itsitter" target="_blank" style="height: 80px; margin-top: 20px;"/></h1></a>
                  </th>
                </tr>
                <tr>
                  <th class="small-12 large-12 columns">
                    <p style="font-size: 12px;">IT-Sitter GmbH - Mies-van-der-Rohe-Str. 8 - 80807 München</p>
                  </th>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- ===== END HEADER ===== -->

    
    <!-- ===== ARDoc Details ===== -->

      <!-- == Document-details table == -->
        <table class="document-details" style="background: white; width: 100%;">
          <tbody>
            <tr>
              <td class="float-center">
                <table class="container" style="margin-bottom: 50px;">
                  <tbody>
                     <tr>
                      <th class="small-12 large-6 columns" style="padding-top: 10px; padding-bottom: 0;">
                        <p>
                          Musterfirma<br>
                          Herrn Manfred Muster<br> 
                          Musterstrasse 99<br>
                          12345 Musterstadt
                        </p>
                      </th>
                      <th class="small-12 large-6 columns" style="padding-top: 10px; padding-bottom: 0;">
                        <table>
                          <tbody>
                            <tr>
                              <th class="small-12 large-6 columns" style="padding-top: 0; padding-bottom: 0;">
                                <p style="margin: 0;">Lieferdatum</p>
                              </th>
                              <th class="small-12 large-6 columns" style="padding-top: 0; padding-bottom: 0;">
                                <p style="margin: 0;">13.07.2016</p>
                              </th>
                            </tr>
                          </tbody>
                        </table>
                        <table>
                          <tbody>
                            <tr>
                              <th class="small-12 large-6 columns" style="padding-top: 0; padding-bottom: 0;">
                                <p style="margin: 0;">Auftragsdatum</p>
                              </th>
                              <th class="small-12 large-6 columns" style="padding-top: 0; padding-bottom: 0;">
                                <p style="margin: 0;">13.07.2016</p>
                              </th>
                            </tr>
                          </tbody>
                        </table>
                        <table>
                          <tbody>
                            <tr>
                              <th class="small-12 large-6 columns" style="padding-top: 0; padding-bottom: 0;">
                                <p style="margin: 0;">Seite</p>
                              </th>
                              <th class="small-12 large-6 columns" style="padding-top: 0; padding-bottom: 0;">
                                <p style="margin: 0;">1-2-3</p>
                              </th>
                            </tr>
                          </tbody>
                        </table>
                        <table>
                          <tbody>
                            <tr>
                              <th class="small-12 large-6 columns" style="padding-top: 0; padding-bottom: 0;">
                                <p style="margin: 0;">Datum</p>
                              </th>
                              <th class="small-12 large-6 columns" style="padding-top: 0; padding-bottom: 0;">
                                <p style="margin: 0;">12.07.2016</p>
                              </th>
                            </tr>
                          </tbody>
                        </table>
                        <table>
                          <tbody>
                            <tr>
                              <th class="small-12 large-6 columns" style="padding-top: 0; padding-bottom: 0;">
                                <p style="margin: 0;">Kunden-Nr.</p>
                              </th>
                              <th class="small-12 large-6 columns" style="padding-top: 0; padding-bottom: 0;">
                                <p style="margin: 0;">34567</p>
                              </th>
                            </tr>
                          </tbody>
                        </table>
                        <table>
                          <tbody>
                            <tr>
                              <th class="small-12 large-6 columns" style="padding-top: 0; padding-bottom: 0;">
                                <p style="margin: 0;"><b>Rechnung Nr.</b></p>
                              </th>
                              <th class="small-12 large-6 columns" style="padding-top: 0; padding-bottom: 0;">
                                <p style="margin: 0;"><b>Muster</b></p>
                              </th>
                            </tr>
                          </tbody>
                        </table>
                      </th>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      <!-- == END Document-details table == -->

      <!-- Title -->
        <table class="header" style="background: white; width: 100%;">
          <tbody>
            <tr>
              <td class="float-center">
                <table class="container">
                  <tbody>
                    <tr>
                      <th class="small-12 large-12 columns" style="padding-bottom: 0;">
                        <h3 style="margin-bottom: 5px;"><b>Rechnung</b></h3>
                      </th>
                    </tr>
                    <tr>
                      <th class="small-12 large-12 columns" style="padding-bottom: 10px;">
                        <p>Hier kann ihr eigener Anfangstext stehen. Z.B. 'Vielen Dank für Ihren Auftrag'</p>
                      </th>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      <!-- End title -->
  
      <!-- == Invoice-details table == -->
        <table class="invoice-details" style="background: #fff; width: 100%;">
            <tbody>
              <tr>
                <td class="float-center" align="center" >
                  <table class="container" style="background: #fff; border-bottom: 2px solid rgba(0,0,0,0.9);">
                    <tbody>
                      <tr>
                        <th class="small-1 large-1 columns" style="padding: 0;">
                          <table>
                            <tbody>
                              <tr>
                                <th class="small-1 large-1 columns" style="padding-bottom: 0; ">
                                  <h3 style="margin: 0; border-top: 2px solid black; border-bottom: 2px solid black">Nr.</h3>
                                </th>
                              </tr>
                            </tbody>
                          </table>

                          <table>
                            <tbody>
                              <tr>
                                <th class="small-1 large-1 columns" style="padding-bottom: 0;">
                                  <p>@@Detail_LineNumber@ </p>
                                </th>
                              </tr>
                            </tbody>
                          </table>
                        </th>
                        <th class="small-4 large-4 columns" style="padding: 0;">
                          <table>
                            <tbody>
                              <tr>
                                <th class="small-1 large-1 columns" style="padding-bottom: 0; ">
                                  <h3 style="margin: 0; border-top: 2px solid black; border-bottom: 2px solid black">Beschreibung</h3>
                                </th>
                              </tr>
                            </tbody>
                          </table>

                          <table>
                            <tbody>
                              <tr>
                                <th class="small-1 large-1 columns" style="padding-bottom: 0;">
                                  <p>@@Detail_Comment@<br /><i><small>Service:&nbsp;@@Detail_SubscriptionID@&nbsp;-&nbsp;@@Detail_SubscriptionName@</small></i></p>
                                </th>
                              </tr>
                            </tbody>
                          </table>
                        </th>
                        <th class="small-1 large-1 columns" style="padding: 0;">
                          <table>
                            <tbody>
                              <tr>
                                <th class="small-1 large-1 columns" style="padding-bottom: 0; ">
                                  <h3 style="margin: 0; border-top: 2px solid black; border-bottom: 2px solid black">Anzahl</h3>
                                </th>
                              </tr>
                            </tbody>
                          </table>

                          <table>
                            <tbody>
                              <tr>
                                <th class="small-1 large-1 columns" style="padding-bottom: 0;">
                                  <p>@@Detail_Quantity@</p>
                                </th>
                              </tr>
                            </tbody>
                          </table>
                        </th>
                        <th class="small-1 large-1 columns" style="padding: 0;">
                          <table>
                            <tbody>
                              <tr>
                                <th class="small-1 large-1 columns" style="padding-bottom: 0; ">
                                  <h3 style="margin: 0; border-top: 2px solid black; border-bottom: 2px solid black">Preis</h3>
                                </th>
                              </tr>
                            </tbody>
                          </table>
                          
                          <table>
                            <tbody>
                              <tr>
                                <th class="small-1 large-1 columns" style="padding-bottom: 0;">
                                  <p>@@Detail_UnitMeasure@</p>
                                </th>
                              </tr>
                            </tbody>
                          </table>
                        </th>
                        <th class="small-2 large-2 columns" style="padding: 0;">
                          <table>
                            <tbody>
                              <tr>
                                <th class="small-1 large-1 columns" style="padding-bottom: 0; ">
                                  <h3 style="margin: 0; border-top: 2px solid black; border-bottom: 2px solid black">USt.</h3>
                                </th>
                              </tr>
                            </tbody>
                          </table>
                          
                          <table>
                            <tbody>
                              <tr>
                                <th class="small-1 large-1 columns" style="padding-bottom: 0;">
                                  <p>@@Detail_UnitPrice@ </p>
                                </th>
                              </tr>
                            </tbody>
                          </table>
                        </th>
                        <th class="small-1 large-1 columns" style="padding: 0;">
                          <table>
                            <tbody>
                              <tr>
                                <th class="small-1 large-1 columns" style="padding-bottom: 0; ">
                                  <h3 style="margin: 0; border-top: 2px solid black; border-bottom: 2px solid black">Rabatt</h3>
                                </th>
                              </tr>
                            </tbody>
                          </table>
                          
                          <table>
                            <tbody>
                              <tr>
                                <th class="small-1 large-1 columns" style="padding-bottom: 0;">
                                  <p>@@Detail_Discount@</p>
                                </th>
                              </tr>
                            </tbody>
                          </table>
                        </th>
                        <th class="small-2 large-2 columns" style="padding: 0;">
                          <table>
                            <tbody>
                              <tr>
                                <th class="small-1 large-1 columns" style="padding-bottom: 0; ">
                                  <h3 style="margin: 0; border-top: 2px solid black; border-bottom: 2px solid black">Gesamtpreis</h3>
                                </th>
                              </tr>
                            </tbody>
                          </table>
                          
                          <table>
                            <tbody>
                              <tr>
                                <th class="small-1 large-1 columns" style="padding-bottom: 0;">
                                  <p>@@Detail_ExtendedPrice@&nbsp;</p>
                                </th>
                              </tr>
                            </tbody>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
      <!-- == END Invoice-details table == -->

      <!-- == tax details part 1 == -->
          <table class="tax-details" style="background: #fff; width: 100%;">
            <tbody>
              <tr>
                <td class="float-center" align="center" >
                  <table class="container" style="margin-top: 10px;">
                    <tbody>
                      <tr>
                        <th class="small-9 large-9 columns" style=" padding: 0;">
                          <table>
                            <tbody>
                              <tr>
                                <th class="text-right">
                                  <p class="gray-text" style="margin: 0; text-align: right;"><b>Summe Netto:</b></p>
                                </th>
                              </tr>
                            </tbody>
                          </table>
                          <table>
                            <tbody>
                              <tr>
                                <th class="text-right">
                                  <p class="gray-text" style="margin: 0; text-align: right;">zzgl. 19 % USt. auf 127,31 EUR:</p>
                                </th>
                              </tr>
                            </tbody>
                          </table>
                        </th>
                        <th class="small-3 large-3 columns">
                          <table>
                            <tbody>
                              <tr>
                                <th class="text-right">
                                  <p class="gray-text" style="margin: 0; text-align: right;"><b>131,31 EUR</b></p>
                                </th>
                              </tr>
                            </tbody>
                          </table>
                          <table>
                            <tbody>
                              <tr>
                                <th class="text-right" style ="border-bottom: 2px solid black;">
                                  <p class="gray-text" style="margin: 0; text-align: right;">24,19 EUR</p>
                                </th>
                              </tr>
                            </tbody>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        <!-- == END tax details part 1 == -->

        <!-- == tax details part 2 == -->
          <table class="tax-details" style="background: #fff; width: 100%;">
            <tbody>
              <tr>
                <td class="float-center" align="center" >
                  <table class="container" style="margin-top: 10px;">
                    <tbody>
                      <tr>
                        <th class="small-9 large-9 columns" style=" padding: 0;">
                          <table>
                            <tbody>
                              <tr>
                                <th class="text-right">
                                  <p class="gray-text" style="font-size: 20px; margin: 0; text-align: right;"><b>Gesamtbetrag:</b></p>
                                </th>
                              </tr>
                            </tbody>
                          </table>
                        </th>
                        <th class="small-3 large-3 columns">
                          <table>
                            <tbody>
                              <tr>
                                <th class="text-right">
                                  <p class="gray-text" style="font-size: 20px; margin: 0; text-align: right;"><b>155,50 EUR</b></p>
                                </th>
                              </tr>
                            </tbody>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        <!-- == END tax details part 2 == -->

        <!-- == tax details part 3 == -->
          <table class="tax-details" style="background: #fff; width: 100%;">
            <tbody>
              <tr>
                <td class="float-center" align="center" >
                  <table class="container" style="margin-top: 10px;">
                    <tbody>
                      <tr>
                        <th class="small-9 large-9 columns" style=" padding: 0;">
                          <table>
                            <tbody>
                              <tr>
                                <th class="text-right">
                                  <p class="gray-text" style="margin: 0; text-align: right;">Bereits bezahlt:</p>
                                </th>
                              </tr>
                            </tbody>
                          </table>
                          <table>
                            <tbody>
                              <tr>
                                <th class="text-right">
                                  <p class="gray-text" style="margin: 0; text-align: right;">Noch zu zahlen:</p>
                                </th>
                              </tr>
                            </tbody>
                          </table>
                        </th>
                        <th class="small-3 large-3 columns">
                          <table>
                            <tbody>
                              <tr>
                                <th class="text-right">
                                  <p class="gray-text" style="margin: 0; text-align: right;">-60,00 EUR</p>
                                </th>
                              </tr>
                            </tbody>
                          </table>
                          <table>
                            <tbody>
                              <tr>
                                <th class="text-right">
                                  <p class="gray-text" style="margin: 0; text-align: right;"><b>95,50 EUR</b></p>
                                </th>
                              </tr>
                            </tbody>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        <!-- == END tax details part 3 == -->

        <!-- Title -->
        <table class="header" style="background: white; width: 100%;">
          <tbody>
            <tr>
              <td class="float-center">
                <table class="container" style="margin-bottom: 50px; margin-top: 10px;">
                  <tbody>
                      <th class="small-12 large-12 columns" style="padding-bottom: 10px;">
                        <p>Am Ende der Rechnung können Sie Ihre Zahlungshinweise und weitere Informationen plazieren.<br>
                        z.B. Bitte überweisen Sie den Betrag bis zum 13.07.2016 auf unser Konto.</p>
                      </th>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      <!-- End title -->

    <!-- ===== END ARDoc Details ===== -->

    

    <!-- ===== FOOTER ===== -->
    <table class="header" style="background: white; width: 100%; border-top: 2px solid rgb(23, 117, 176)">
      <tbody>
        <tr>
          <td class="float-center">
            <table class="container">
              <tbody>
                <tr>
                  <th class="small-3 large-3 columns" style="padding-left: 0; padding-right: 0;">
                    <ul style="padding-left: 0;">
                      <li style="font-size: 11px;">IT-Sitter GmbH Deutschland</li>
                      <li style="font-size: 11px;">Design Offices Highlight Towers</li>
                      <li style="font-size: 11px;">Mies-van-der-Rohe-Str. 8</li>
                      <li style="font-size: 11px;">80807 München</li>
                      <li style="font-size: 11px;">Ust.-Id.Nr.: DE 292 790 015</li>
                    </ul>
                  </th>
                  <th class="small-3 large-3 columns" style="padding-left: 0; padding-right: 0;">
                    <ul style="padding-left: 0;">
                      <li style="font-size: 11px;">Kontakt:</li>
                      <li style="font-size: 11px;">Tel.: +49 89 12414 90-00</li>
                      <li style="font-size: 11px;">Fax: +49 89 12414 90-99</li>
                      <li style="font-size: 11px;">E-Mail: info@itsitter.de</li>
                      <li style="font-size: 11px;">Web: www.itsitter.de</li>
                    </ul>
                  </th>
                  <th class="small-3 large-3 columns" style="padding-left: 0; padding-right: 0;">
                    <ul style="padding-left: 0;">
                      <li style="font-size: 11px;">Geschäftsführer:</li>
                      <li style="font-size: 11px;">Julian Willmes</li>
                      <li style="font-size: 11px;">Registergericht:</li>
                      <li style="font-size: 11px;">Amstgericht München</li>
                      <li style="font-size: 11px;">HRB 220121</li>
                    </ul>
                  </th>
                  <th class="small-3 large-3 columns" style="padding-left: 0; padding-right: 0;">
                    <ul style="padding-left: 0;">
                      <li style="font-size: 11px;">Deutsche Bank AG</li>
                      <li style="font-size: 11px;">Konto: 556 717 700</li>
                      <li style="font-size: 11px;">BLZ: 416 700 24</li>
                      <li style="font-size: 11px;">IBAN: DE27 4167 0024 0556 7177 00</li>
                      <li style="font-size: 11px;">BIC: DEUTDEDB416</li>
                    </ul>
                  </th>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- ===== END FOOTER ===== -->


      </td>
    </tr>
  </table>
</body>
</html>
